body {
  font: 20px/1.5 Dosis, sans-serif;

  margin: 0;
}

h1, h2, h3, h4, h5, p, ol, ul {
  margin: 0 0 1.5rem;
}

small { font-size: 0.8em; }
h5 { font-size: 1em; }
h4 { font-size: 1.25em; }
h3 { font-size: 1.563em; }
h2 { font-size: 1.953em; }
h1 { font-size: 2.441em; }

h1 {
  text-indent: -1000rem;

  background: url(/images/more.svg) no-repeat left center;
  background-size: 10rem;
}

a {
  text-decoration: none;
}

.btn {
  border: 1px solid;
  line-height: 2;

  padding: 0 1rem;

  box-sizing: border-box;
  display: inline-block;
}

main {
  margin-left: 50vw;
  width: 50vw;

  box-sizing: border-box;
}

section {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media {
  min-height: 100vh;

  margin-left: -50vw;
  position: relative;
}

.media > img {
  max-width: 40vw;
  position: absolute;
  top: 1.5rem;
  right: calc(50vw + 1.5rem);
}
