body {
  margin: 0;
}

body, input, textarea, button {
  font: 16px/1.5 Dosis, sans-serif;

  color: #333;
}

h1, h2, h3, h4, h5, p, ol, ul {
  margin: 0 0 1.5rem;
}

small { font-size: 0.8em; }
h5 { font-size: 1em; }
h4 { font-size: 1.25em; }
h3 { font-size: 1.563em; }
h2 { font-size: 1.953em; }
h1 { font-size: 2.441em; }

h1 {
  text-indent: -1000rem;

  background: url(/images/more.svg) no-repeat left center;
  background-size: 9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  line-height: 2;

  background: white;
  border: 1px solid;
  box-shadow: .2em .2em 0 currentColor;

  padding: 0 1rem;

  box-sizing: border-box;
  display: inline-block;
}

.btn:hover {
  background: #333;
  color: white;

  cursor: pointer;
}

input.field {
  border: 1px solid transparent;
  border-bottom: 1px solid;
  line-height: 2;

  width: 100%;
  padding: 0 1rem;

  box-sizing: border-box;
  display: block;
}

textarea.field {
  border: 1px solid;
  line-height: 2;

  width: 100%;
  padding: 0 1rem;

  box-sizing: border-box;
  display: block;
}

.btn:focus, .field:focus {
  outline: .2em solid gold;
}

main {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header {
  width: 100vw;
  padding: 1.5rem 3rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

section {
  min-height: 100vh;
  box-sizing: border-box;

  flex-direction: column;
  justify-content: center;
  display: flex;
}

.media {
  width: 25vw;
  margin: 1.5rem;

  justify-content: center;
  align-items: center;
  display: flex;
}

.media > img {
  max-width: 25vw;
  max-height: 25vw;
}

.media > img:hover {
  cursor: pointer;
  outline: .2em solid gold;
}

.media-post {
  display: none;
}
