doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet")
    link(href="/css/app.css" rel="stylesheet")
    title More
  body
    main
      = if @current_user do
        header
          h2= @current_user.user_name
          p
            a(href="/logout" class="btn") Logout
        = for m <- @recent_media do
          .media
            img(src=m["images"]["standard_resolution"]["url"])
            .media-post
              p
                input(type="text" class="field -large" placeholder="Title")
              p
                textarea(class="field" rows="10" placeholder="Content")
              p
                button(class="btn") Save
                button(class="btn") Publish
      - else
        section
          h1 More
          p Share more of your memories
          p
            a(href=@ig_login_url class="btn") Login
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs")
    script(src="/js/bliss.min.js")
    script(src="/js/app.js")
